Client.ServiceReference/Service References/EchoServiceReference/Echo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EchoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EchoRequest" nillable="true" type="tns:EchoRequest" />
  <xs:complexType name="EchoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsChannelOpen" type="xs:boolean" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EchoResponse" nillable="true" type="tns:EchoResponse" />
</xs:schema>