Client.ServiceReference/Service References/EchoServiceReference/Echo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45066/Echo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceContract" />
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComplexEcho">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceContract" minOccurs="0" name="request" nillable="true" type="q1:EchoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComplexEchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceContract" minOccurs="0" name="ComplexEchoResult" nillable="true" type="q2:EchoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>